.back-to-top{
    display: none;
}

@media screen and (max-width: 1517px){
    .img_one{
        display: none;
    }
    .projetos{
        display: flex;
        flex-direction: column;
        align-items:center;
        
    }

    .padding_projeto{
        padding-left: 0rem;
    }
}

@media screen and (max-width: 800px) {
    body{
        width: 375px;
    }
    /* Navbar*/
    .cabecalho{
        padding: 2rem 0rem;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        width: 400px;
    }

    .cabecalho ul{
        display: none;
    }

    .cabecalho a img{
        display: none;
    }
    
    .botao_nav{
        display: none;
    }
    .hamburguer{
        display: flex;
        cursor: pointer;
        margin-right: 0rem;
        z-index: 1;
    }

    .cabecalho h1{
        font-size: 24px;
        margin-left: 10px;
        width: 200px;
    }

    .navmobile{
        display: flex;
        position: fixed;
    }
    .navlinks_mobile{
        
        display: none;
        flex-direction: column;
        opacity: 0;
        transition: all 1s ease-out;
        pointer-events: none;
        margin-top: 20rem;
        
    }

    .navlinks_mobile.open {
        pointer-events: all;
        opacity: 1;
        display: flex;
        background-color: var(--black);
        width: 500px;
        height: 20vh;
      }

      .navlinks_mobile a{
          font-size: 20px;
          margin-left: 20rem;
      }


      /* Banner */
    #banner{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }

    .banner_text{
        margin-top: 18rem;
        
    }

    #banner h1{
        font-family: 'Roboto', sans-serif;
        font-size: 43px;
        color: white;
        width: 300px;
    }

    .buttom_work{
        padding: 0.2rem 2rem;
        line-height: 20px;
        font-size: 18px;
    }

    .eye_icon{
        height: 36px;
        width: 36px;
    }

    .img_one{
        display: none;
    }

    .img_two{
        height: 501px;
        width: 353px;
        
    }


    .img_three{
        margin-top: 43px;
    }


    /* Work*/
    .title_work{
        font-size: 24px;
        width: 300px;
    }
    .projetos{
        display: flex;
        flex-direction: column;
        align-items:center;
        
    }

    .padding_projeto{
        padding-left: 0rem;
    }

    .projetos img{
        width: 263px;
    }

    .projetos h1 {
        font-size: 18px;
    }

    .projetos p{
        width: 300px;
    }

    /* About Me*/
    #abme h1 {
        font-size: 24px;
        color: white;
        width: 300px;
        margin-bottom: 60px;
        margin-top: 5rem;
    }
    .sobre_mim{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .sobremim_foto{
        width: 254px;
        height: 259px;
        border: 30px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 212px;
        box-shadow: none;

    }

    .sobre_mim p{
        font-size: 14px;
        width: 250px;
    }

    /* Contato*/ 
    #contact h1 {
        font-size: 24px;
        width: 300px;
        
    }

    .contact_menu{
        display: flex;
        flex-direction: column;
        margin-left: 45px;
        gap: 20px;
    }

    .contact_photos_1{
        width: 266px;
        height: 269px;
        
    }

    .contact_menu input{
        padding: 5px 5px;
        width:300px;
    }

    .contact_menu textarea{
        width:300px;
    }

    .button_contact{
        line-height: 30px;
        width:300px;
        font-size: 24px;
        padding: 0.5rem 0rem;
    }
}